body{
    background:rgb(248, 158, 229);
    color: rbg(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#allcontects {
    max-width: 800px;
    margin: auto;
}
/* navigation menu */
nav {
    background: rgb(255, 130, 211);
    margin: 0 auto; 
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    color: #f9f9f9;
}
/* main container area beneath menu*/
main {
    background: rgb(243, 193, 230);
    display: flex;
}
.sidebar{
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content { 
    flex: 1;
    padding: 15px;
}
/* portfolio sytyles */
#intrest {
    border: 4px sliver ridge;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: rgb(142, 17, 17);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #e8e8e8;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #f8f8f8;
        }